{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "_components": "./components",
          "_styles": "./styles",
          "_lib": "./lib"
        }
      }
    ]
  ]
}
